body {
  background:#0f172a;
  font-family:Arial;
  color:#fff;
}

.container {
  width:400px;
  margin:40px auto;
}

.card {
  background:#1e293b;
  padding:15px;
  margin-bottom:15px;
  border-radius:8px;
}

input,button {
  width:100%;
  padding:8px;
  margin:5px 0;
}

button {
  background:#22c55e;
  border:none;
  cursor:pointer;
}

.match {
  margin-bottom:10px;
}

.footer {
  position:fixed;
  bottom:5px;
  left:5px;
  font-size:12px;
  color:#94a3b8;
}
