body {
  background:#0e1628;
  color:white;
  font-family:Arial;
  text-align:center;
}

input, button {
  padding:10px;
  margin:5px;
}

.card {
  background:#18233a;
  margin:10px auto;
  padding:15px;
  width:300px;
  border-radius:8px;
}

.credit {
  position:fixed;
  bottom:10px;
  left:10px;
  opacity:0.5;
  font-size:12px;
}
